<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="mynav">
       <nav class="sb-topnav navbar navbar-expand navbar-dark bg-success">
            <a class="navbar-brand" th:href="@{/}">AsacImmobilier</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" ><i class="fa fa-bars"></i></button
            >
            <!-- Nav bar-->
            <ul class="navbar-nav ml-auto float-right">
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle text-white" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-fw"></i><span sec:authentication="name"></span></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
</div>
<div  th:fragment="mysidebar">
           <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Options</div>
                            <a class="nav-link" th:href="@{/}"
                                ><span class="sb-nav-link-icon"><i class="fa fa-line-chart" aria-hidden="true"></i></span>
                                Tableau de bord</a
                            >
                            <div class="sb-sidenav-menu-heading">Fonctionnalités</div>
                             <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts"
                                ><span class="sb-nav-link-icon"><i class="fa fa-users"></i></span>
                            	Clients
                                <span class="sb-sidenav-collapse-arrow"><i class="fa fa-angle-down"></i></span
                            ></a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" th:href="@{/Clients/client-ajout}">Ajout d'un client</a>
                                <a class="nav-link" th:href="@{/Clients/clients}">Rechercher client</a></nav>
                            </div>
                             <a class="nav-link collapsed" th:href="@{/Promesse/liste-promesses}" 
                                ><span class="sb-nav-link-icon"><i class="fa fa-folder-open"></i></span>
                            	Promesses de vente</a>                           
                             <a class="nav-link collapsed" th:href="@{/Visite/liste-visites}" 
                                ><span class="sb-nav-link-icon"><i class="fa fa-file"></i></span>
                            	Visites
                              </a>
                               <a class="nav-link collapsed" th:href="@{/Appartement/liste-appartements}" 
                               ><span class="sb-nav-link-icon"><i class="fa fa-home"></i></span>
                           	Appartements
                             </a>
                        </div>
                    </div>
</div>
<div th:fragment="myfoot">
  <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy;AsacImmobilier Website 2020</div>
                        </div>
                    </div>
  </footer>
</div>
</body>
</html>