<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
       <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Appartements</title>
        <link th:href="@{/css/styles.css}" rel="stylesheet" />  
        <link th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" rel="stylesheet" >
         <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
		<script src="https://use.fontawesome.com/ee84922179.js"></script>
    </head>
    <body>
     	<div th:replace="common/layout :: mynav"></div>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                   <div th:replace="common/layout :: mysidebar"></div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Appartements</h1>&nbsp;<a href="#apartForm" class="btn btn-success btn-sm mb-3 text-light">Ajouter appartement</a>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">liste</a></li>
                            <li class="breadcrumb-item active">recherche</li>
                        </ol>
                        <div class="row justify-content-center">
                         <div class="card mb-4 col-md-11">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="usertable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Immeuble</th>
                                                <th>Numéro</th>
                                                <th>Aire en m<sup>2</sup></th>
                                                <th>Nombre de chambres</th>
                                                <th>Etat</th>
                                                <th>Prix</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="apart : ${apartments}">
                                               <td th:text="${apart.building.name}"></td>
						                  		<td th:text="${apart.number}"></td>
						                  		<td th:text="${apart.surface}"></td>
						                  		<td th:text="${apart.rooms}"></td>
						                  		 <td th:if="${apart.stateApart == true}" class="text-success">Occupé</td>
                                                <td th:if="${apart.stateApart == false}" class="text-secondary">Non occupé</td>
						                  		<td th:text="${apart.price}"></td>
						                  		<td>
						                  		 <a th:href="@{/appartement/{id}(id=${apart.idApartment})}"><i class="fa fa-edit text-primary"></i></a>
		                   						 &nbsp;&nbsp;&nbsp;
		                    					<a th:href="@{/liste-appartements/{id}(id=${apart.idApartment})}"><i class="fa fa-trash text-danger"></i></a>
						                  		</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                         <form class="row justify-content-around" th:action="${type != null}? @{/appartement/{id}(id=${apartment.idApartment})} :@{/appartement-ajout}" th:object="${apartment}" method="post">
                         	<div class="col-md-11 row" id="apartForm">
	                         	 <div class="form-group col-md-3">
									    <label for="name">Immeuble</label>
								    <select name="name" id="name" class="form-control">
								    	<option th:each="building : ${buildings}"
								    			th:text="${building.name}"
								    			th:value="${building.name}">
								    	</option>
								    </select>
								 </div>
								 <div class="form-group col-md-3">
									    <label for="surface">Aire en m<sup>2</sup></label>
									    <input type="number" class="form-control" id="surface" th:field="*{surface}">
								 </div>
								 <div class="form-group col-md-3">
									    <label for="rooms">Nombre de chambres</label>
									    <input type="number" class="form-control" id="rooms"  th:field="*{rooms}">
								 </div>
								  <div class="form-group col-md-3">
									    <label for="price">Prix (En FCFA)</label>
									    <input type="number" class="form-control" id="price"  th:field="*{price}">
								 </div>
                         	</div>
                         	<div class="col-md-11 row">
                         	 	<div class="form-group col-md-3">
									    <label for="step">Etage</label>
									    <input  th:if="${type!=null}" type="number" class="form-control" id="step"  name="step" th:value="${step}">
									    <input  th:if="${type==null}" type="number" class="form-control" id="step"  name="step">
								 </div>
								 <div class="form-group col-md-3">
									    <label for="num">Numéro Appartement</label>
									    <input  th:if="${type!=null}" type="number" class="form-control" id="num"  name="num" th:value="${number}">
									    <input  th:if="${type==null}" type="number" class="form-control" id="num"  name="num">
								 </div>
								<div class="form-group col-md-2">
									 <label for="stateApart">Occupé</label>
								    <input type="checkbox" id="stateApart" class="form-control" th:field="*{stateApart}">
								</div>
                         	   </div>
                         	    <div class="form-group col-md-10">
									   <input type="submit" value="Enregistrer un appartement" class="btn btn-primary btn-sm mb-3 text-light"/>&nbsp;
									   <input type="reset" value="Annuler" class="btn btn-secondary btn-sm mb-3 text-light"/>
								  </div>
						</form>
                        </div>
                        
                      </div>
                    </div>
                </main>
              <div th:replace="common/layout :: myfoot"></div>
            </div> 
        </div>
         <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
         <script th:src="@{/js/scripts.js}"></script>
         <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script th:src="@{assets/demo/datatables-demo.js}"></script>
        <script type="text/javascript">
        $(document).ready(function() {
            $('#usertable').DataTable( {
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                }
            } );

        } );
        </script>
    </body>
</html>
