<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
       <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Avocats</title>
        <link th:href="@{/css/styles.css}" rel="stylesheet" />  
        <link th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" rel="stylesheet" >
         <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
		<script src="https://use.fontawesome.com/ee84922179.js"></script>
    </head>
    <body>
     	<div th:replace="common/layout :: mynav"></div>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                   <div th:replace="common/layout :: mysidebar"></div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Avocats</h1>&nbsp;<a th:href="@{/avocat-ajout}" class="btn btn-success btn-sm mb-3 text-light">Ajouter un avocat</a>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">liste</a></li>
                            <li class="breadcrumb-item active">recherche</li>
                        </ol>
                         <div class="card mb-4">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="usertable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Numéro d'autorisation</th>
                                                <th>Nom</th>
                                                <th>Prénom</th>
                                                <th>Téléphones</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="lawyer : ${lawyers}">
                                               <td th:text="${lawyer.autorisation_num}"></td>
						                  		<td th:text="${lawyer.surname}"></td>
						                  		<td th:text="${lawyer.firstname}"></td>
						                  		<td class="text-primary">
						                  			<span th:text="${lawyer.tel1}"></span>/
						                  			<span th:text="${lawyer.tel2}"></span>/
						                  			<span th:text="${lawyer.tel3}"></span>
						                  		</td>
						                  		<td>
						                  		 <a th:href="@{/avocat/{id}(id=${lawyer.idLawyer})}"><i class="fa fa-edit text-primary"></i>Modifier</a>
		                   						 &nbsp;&nbsp;&nbsp;
		                    					<a th:href="@{/liste-avocats/{id}(id=${lawyer.idLawyer})}"><i class="fa fa-trash text-danger"></i>Supprimer</a>
						                  		</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
              <div th:replace="common/layout :: myfoot"></div>
            </div> 
        </div>
         <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
         <script th:src="@{/js/scripts.js}"></script>
         <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script th:src="@{assets/demo/datatables-demo.js}"></script>
        <script type="text/javascript">
        $(document).ready(function() {
            $('#usertable').DataTable( {
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                }
            } );

        } );
        </script>
    </body>
</html>
