<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Tableau de bord</title>
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://use.fontawesome.com/ee84922179.js"></script>
    </head>
    <body class="sb-nav-fixed">
        <div sec:authorize="hasAuthority('ADMIN')" th:replace="common/layout :: mynav"></div>
        <div sec:authorize="hasAuthority('AGENT')" th:replace="common/layout2 :: mynav"></div>
        <div sec:authorize="hasAuthority('SECRETAIRE')" th:replace="common/layout3 :: mynav"></div>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div sec:authorize="hasAuthority('ADMIN')" th:replace="common/layout :: mysidebar"></div>
                    <div sec:authorize="hasAuthority('AGENT')" th:replace="common/layout2 :: mysidebar"></div>
                    <div sec:authorize="hasAuthority('SECRETAIRE')" th:replace="common/layout3 :: mysidebar"></div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4" sec:authorize="hasAuthority('ADMIN')">Tableau de bord</h1>
                        <div class="row" sec:authorize="hasAuthority('ADMIN')">
                            <div class="col-xl-6 col-md-6">
                                <div class="card bg-info text-white mb-4">
                                    <div class="card-body">
                                    <h2>Clients</h2>
                                    <span th:text="${sizeCustomer}">334</span>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" th:href="@{/Clients/clients}">Plus d'info...</a>
                                        <div class="small text-white"><i class="fa fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="card bg-secondary text-white mb-4">
                                    <div class="card-body">
                                    <h2>Ventes</h2>
                                    <span th:text="${sizeAgreement}">34</span>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" th:href="@{/Promesse/liste-promesses}">Plus d'info...</a>
                                        <div class="small text-white"><i class="fa fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="card bg-secondary text-white mb-4">
                                    <div class="card-body">
                                    <h2>Immeubles</h2>
                                    <span th:text="${sizeBuilding}">15</span>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" th:href="@{/Immeuble/liste-immeubles}">Plus d'info...</a>
                                        <div class="small text-white"><i class="fa fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">
                                    <h2>Agents</h2>
                                    <span th:text="${sizeUser}">334</span>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" th:href="@{/Utilisateurs/liste-utilisateurs}">Plus d'info...</a>
                                        <div class="small text-white"><i class="fa fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <div th:replace="common/layout :: myfoot"></div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script th:src="@{js/scripts.js}"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>
		<script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script th:src="@{assets/demo/datatables-demo.js}"></script>
    </body>
</html>
